@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgb(245, 245, 245);
  --secondary-color: rgba(238, 238, 238, 0.664);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  flex: 1;
  margin-left: 25px;
  margin-right: 25px;
}

